.card-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.score {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.score > p {
  color: #dddddd;
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > button{
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.score-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-board > p {
  color: #dddddd;
  font-size: 25px;
}
